/* For index.html */
body.index {
    background-image: url('farm.jpg');
    color:ivory;
}

/* For details.html */
body.details {
    background-image: url('Farmer.jpg');
    color: black;
}

/* For crop_predict.html */
body.predict {
    background-image: url('predict.jpg');
    color: rgb(0, 0, 0);
}
.result-text {
    color: #fd0505; 
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 20%;
   
}

p {
    font-size: 18px;
}
